.post-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
    background-color: #fff;
    justify-content: space-between;
}

.radio{
    display: inline-block;
    margin: 0 15px;
    width: 30px;
    height: 30px;
    border-radius:50%;
}

/* .fake{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    border:1px solid #A6A6A6;
}

.fake::before{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:url(check-solid.svg);
    border-radius: 50%;
    opacity: 0;
    transition: .1s;
    color: #7FDC70;
} */

.radio:checked + .fake::before{
    opacity: 1;
}

.styled-div{
    width: 90%;
    justify-content: space-between;
    padding-left: 15px;
}

.fa-times{
    display: none;
    margin-top: 5px;
    color:#D87460;
}

.post-item div:hover > i {
    display: block;
    transition: .2s all;
}

.post-item div i:hover {
    color:#D55036;
    cursor:pointer;
}


